{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title%} {% endblock title %} Home</title>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href='{% static "default.css" %}' rel="stylesheet">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Demo Website</h1>
        </div>
        <nav class="navbar navbar-default"> 
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">APP</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class={% if page == 'home' %}"active"{% else %}{% endif %}>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class={% if page == 'about' %}"active"{% else %}{% endif %}>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li class={% if page == 'contact' %}"active"{% else %}{% endif %}>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>